@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    color: white;
    font: 18px Helvetica,Arial,sans-serif;
}

body > div {
    height: 100%;
}

section {
    min-height: 100%;
    background-image: url("/static/assets/img/wood-bg-11.png");
    background-size: cover;
    background-position: center top;
}

.container {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    background: rgba(0,0,0,0.4);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1em 2em;
    min-height: 100%;
}

.banner {
    height: 15vh;
    width: 70.5vh;
    max-width: 100%;
    margin: 0 auto;
}

.banner-logo {
    background-image: url("/static/assets/img/MMPLogoFinal.png");
    background-size: 100% 100%;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

#countdown-timer {
    margin: 1em auto 2em auto;
    text-align: center;
}

#countdown-timer h1 {
    font-family: 'Tangerine', 'Times New Roman', sans-serif;
    font-size: 55px;
    font-weight: 500;
}

#countdown-timer .timer-field {
    display: inline-block;
    padding: 1em 2em;
    min-width: 150px;
}

#countdown-timer .timer-field div:first-child {
    font-size: 50px;
    text-align: center;
}

#countdown-timer .timer-field div:nth-child(2) {
    font-size: 20px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    color: #750000;
    text-shadow: 0 0 16px white;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 7px rgba(255,255,255,0.1);
    border-radius: 0.2em;
}

.preview-sub {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    margin-top: 1.5em;
}

.preview-sub > div {
    flex: 1 1 1px;
    min-width: 300px;
    margin-bottom: 1.5em;
}

.preview-sub .spacer {
    flex: 1 5 1em;
    min-width: 0px;
    max-width: 1.5em;
}

.preview-sub .preview {
    position: relative;
    width: 500px;
    align-self: center;
}

.preview-sub .preview:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.preview-sub .preview iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mc_embed_signup {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#mc_embed_signup form {
    margin: 0;
    padding: 0;
}

#mc_embed_signup h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 5px;
}

#mc_embed_signup h2 .mmp-title {
    font-family: 'Tangerine';
    font-size: 35px;
    color: #E5B249;
    font-weight: 500;
}

#mc_embed_signup input[type=checkbox] {
    margin-right: 10px;
    margin-left: 2.5px;
    transform: scale(1.5);
    padding: 10px;
}

#mc_embed_signup .header-label {
    font-size: 20px;
    margin-top: 0.8em;
    display: block;
}

#mc_embed_signup ul li {
    margin-left: 1em;
}

#mc_embed_signup .button {
    width: 100%;
    background-color: #750000;
    text-shadow: 0px 0px 4px #000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#mc_embed_signup .button:hover {
    background-color: #330000;
    cursor: pointer;
}

#mc_embed_signup .asterisk {
    color: #E5B249;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border-color: #750000;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    color: #750000;
}

#mc_embed_signup .header-label {
    margin-top: 0;
}

#mc_embed_signup .mc-field-group {
    min-height: 0;
}

.highlight-color {
    color: #E5B249;
}

.summary-blurb {
    box-sizing: border-box;
    border-radius: 0.4em;
    background-color: rgba(0,0,0,0.4);
    margin: 0 auto;
    padding: 1.5em;
}

.summary-blurb h3 {
    margin-bottom: 1.5em;
}

.summary-blurb h3 em {
    font-family: 'Tangerine';
    font-size: 35px;
    color: #E5B249;
    font-weight: 500;
    font-style: normal;
}

.summary-blurb p {
    text-align: justify;
    line-height: 150%;
    font-family: 'Verdana';
}

h2,h3 {
    font-family: 'Verdana';
    font-weight: normal !important;
}

.testimonials {
    padding: 1.5em 0;
    border-top: 1px solid white;
}

.testimonials h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

.testimonials .right-align, .testimonials .left-align, .testimonials .center-align {
    width: 50%;
    min-width: 250px;
    margin-bottom: 2em;
    font-size: 25px;
    font-family: Verdana;
    clear: both;
}

.testimonials .right-align {
    float: right;
}

.testimonials .center-align {
    width: 100%;
    text-align: center;
}

.testimonials .attribution {
    text-align: right;
    font-size: 16px;
}
