@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400');

* {
    padding: 0;
    margin: 0;
}

html, body {
    background: #ededed;
    color: #333;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#top-bar {
    background-color: #009688;
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px #333;
    text-shadow: 1px 1px #333;
}

#top-bar-spacer {
    height: 60px;
}

#top-bar h1 {
    display: inline-block;
    padding-left: 0.5em;
    line-height: 170%;
}

#top-bar h1 i {
    font-size: 28px;
    margin-right: 0.5em;
    vertical-align: middle;
    cursor: pointer;
}

#top-bar h1 i:hover {
    text-shadow: 2px 2px #333;
}

#top-bar button {
    height: 100%;
    font-size: 18px;
    float: right;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border: none;
    border-left: 1px solid #44bfb3;
    background-color: transparent;
    font-family: 'Roboto Slab';
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px #333;
    transition: background-color 0.2s;
}

#top-bar button:hover {
    background-color: #44bfb3;
}

#chapter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin: 1em auto;
}

#chapter-list .left-col {
    width: 65%;
}

#chapter-list .right-col {
    width: 32%;
}

#chapter-list .chapter-tile {
    padding: 0.5em 1em;
    box-shadow: 0px 2px 2px #ccc;
    margin: 1em 0;
    background-color: white;
}

#chapter-list .chapter-tile .chapter-data {
    clear: both;
}

#chapter-list .chapter-tile h2 { 
    display: inline-block;
}

.chapter-controls {
    white-space: nowrap;
    float: right;
    color: #009688;
    margin-top: 5px;
}

.chapter-controls i {
    margin: 0 0.2em;
    cursor: pointer;
}
    
.chapter-controls i:hover,
i.clickable:hover,
a i:hover {
    text-shadow: 0px 1px #333 !important;
}

#chapter-list .chapter-tile a {
    font-weight: 400;
}

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#chapter-list ul.upcoming-releases {
    list-style: none;
    margin: 0;
    padding: 0;
}

#chapter-list li.upcoming-release {
    margin: 0.5em 0;
}

#chapter-list .right-col span {
    font-style: italic;
}

#chapter-list h1 i,
#chapter-list h2 i,
#chapter-list h3 i {
    margin: 0 0.2em;
}

#chapter-list .right-col h2 {
    display: block;
    border-bottom: 1px solid #333;
    margin-bottom: 0.4em;
}

#chapter-list h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0.4em;
}

#chapter-list .upcoming-release h3 {
    font-size: 17px;
}

#chapter-sync {
    max-width: 1500px;
    margin: 1em auto;
}

.tile {
    padding: 0.5em 1em;
    box-shadow: 0px 2px 2px #ccc;
    margin: 1em 0;
    background-color: white;
}

.chapter-sync-chapter {
    text-align: center;
}

#chapter-sync span {
    font-style: italic;
    font-size: 16px;
    display: block;
    float: left;
    color: #777;
}

#chapter-sync i {
    margin: 0 0.2em;
    color: #009688;
}

.metadata-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}

.metadata-box-container > div {
    flex: 1;
    max-width: 40%;
}

.metadata-box-container.wrap > div {
    max-width: 100%;
}

.metadata-box-container.wrap {
    display: block;
    max-width: 60%;
}

.metadata-box-container > div > h2 {
    border-bottom: 1px solid #ddd;
}

.metadata-box-container > div > h2.no-border {
    border: none;
}

.metadata-box-container > div > div {
    max-height: 80px;
    overflow: auto;
    margin-bottom: 1em;
}

#chapter-sync table {
    width: 100%;
    text-align: center;
    border-spacing: 1.5em;
}

#chapter-sync table td.arrow-col i {
    font-size: 38px;
}

#chapter-sync td.original-chapter h2,
#chapter-sync td.imported-chapter h2 {
    font-weight: 400;
}

#chapter-sync td.original-chapter h2 i {
    margin: 0 0.2em;
}

#chapter-sync .data-row {
    margin: 0.7em 0;
}

#chapter-sync .data-row i {
    margin-left: 1.5em;
}

#chapter-sync .data-row i:first-child {
    margin-left: 0;
}

#chapter-sync .control-row div:last-child {
    clear: both;
}

#chapter-sync h3 {
    font-weight: 400;
}

.disabled {
    color: #ccc !important;
}

.clickable {
    cursor: pointer !important;
}

input:focus {
    outline: none;
}

input {
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 250px;
    text-align: center;
}

textarea {
    width: 100%;
    min-height: 100px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container > div {
    flex: 1;
}

.preview-container {
    border: 1px solid #ddd;
    max-width: 30%;
}

.preview-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    max-height: 100%;
}

.level-0 {
    margin-left: 0;
}

.level-1 {
    border-left: 3.2em solid rgba(0,150,136,0.7);
    width: 95%;
    box-sizing: border-box;

}

.level-1 h1 {
    font-size: 28px;
}

.level-2 {
    border-left: 6.4em solid rgba(0,150,136,0.7);
    width: 90%;
    box-sizing: border-box;
}

.level-2 h1 {
    font-size: 26px;
    font-weight: 400;
}

.no-left-margin {
    margin-left: 0 !important;
}

.hide {
    display: none !important;
}