@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400');

* {
    padding: 0;
    margin: 0;
}

html, body {
    background: #eee;
    color: #333;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#top-bar {
    background-color: #009688;
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px #333;
    text-shadow: 1px 1px #333;
}

#top-bar-spacer {
    height: 60px;
}

#top-bar h1 {
    display: inline-block;
    padding-left: 0.5em;
    line-height: 170%;
}

#top-bar h1 i {
    font-size: 28px;
    margin-right: 0.5em;
    vertical-align: middle;
    cursor: pointer;
}

#top-bar h1 i:hover {
    text-shadow: 2px 2px #333;
}

#top-bar button {
    height: 100%;
    font-size: 18px;
    float: right;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border: none;
    border-left: 1px solid #44bfb3;
    background-color: transparent;
    font-family: 'Roboto Slab';
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px #333;
    transition: background-color 0.2s;
}

#top-bar button:hover {
    background-color: #44bfb3;
}