@import url(https://fonts.googleapis.com/css?family=Tangerine);

/* ======== GENERAL ======== */

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    background: url('http://www.freevectors.net/files/large/DarkPattern.jpg');
    background-attachment: fixed;
}

body > div, body > div > div {
    height: 100%;
}

div#fb-root {
    display: none;
}

/* ======== PAGE SECTIONS ======== */

section {
    min-height: 100%;
}

section.reader {
    background: url("/static/assets/img/wood-bg-11.png");
    background-size: cover;
    background-position: center top;
    box-shadow: 0px 20px 1em rgba(0,0,0,0.8);
}

section.comments {
    display: flex;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center top;
    flex-flow: row wrap;
}

/* ======== READER SECTION ======== */

/* ---- Banner ---- */

.banner {
    height: 15vh;
    width: 70.5vh;
    max-width: 100%;
    margin: 0 auto;
}

.banner-logo {
    background-image: url("/static/assets/img/logo-2.png");
    background-size: cover;
    height: 100%;
    max-width: 100%;
}

/* ---- Loader Overlay ---- */

.book .loader {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url('/static/assets/img/book-final2.png');
    background-size: 100% 100%;
    display: none;
    z-index: 100;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.book .loader.cover {
    background-image: url('/static/assets/img/book-cover-dark.png');
    z-index: 101;
    background-color: black;
    cursor: pointer;
}

.book .loader.cover:hover {
    background-image: url('/static/assets/img/book-cover.png');
}

.book .loader.cover:hover div {
    color: #EAC694;
}

.book .loader.cover div {
    position: absolute;
    bottom: 6%;
    right: 8%;
    color: #CE9046;
    font-size: 40px;
    font-weight: normal;
    font-family: Tangerine;
}

.book .loader.isDisplayed {
    display: flex;
}

.book .loader .loading-label {
    text-align: center;
}

/* ---- Book Display ---- */

.book {
/*    width: 650px;
    height: 759px;*/
    height: 80vh;
    width: 68.5vh;
    max-width: 100%;
    margin: 1vh auto 0 auto;
    background-image: url('/static/assets/img/book-final2.png');
    background-size: 100% 100%;
    position: relative;
}

.book .book-inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%; bottom: 2%; left: 9%; right: 9%;
}

.book .book-inner .top-bar {
    padding: 22px 0 0 0;
    text-align: center;
}

.book .book-inner iframe {
    flex: 1;
    border: none;
}

.book .book-inner .bottom-bar {
    text-align: center;
    display: flex;
    padding-bottom: 1em;
}

.book .book-inner .bottom-bar > div {
    flex: 1;
}

/* ---- Book Display > Dropdown Menu ---- */

.drop-down-container {
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

.drop-down-container .selected-label {
    text-align: center;
    overflow: hidden;
    display: flex;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,0);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    padding: 0.5em 1em;
    font-size: 14px;
}

.drop-down-container.expanded .selected-label {
    background-color: #eee;
    border: 1px solid #999;
    border-bottom-style: dashed;
}

.drop-down-container .selected-label:hover {
    box-shadow: 0px 0px 2px #999;
}

.drop-down-container .selected-label .label-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.5em;
}

.drop-down-container .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-top: 5px;
    margin-left: 0.3em;
    border-top: 5px solid #000;
    vertical-align: bottom;
}

.drop-down-container.expanded .arrow-down {
    visibility: hidden;
}


.drop-down-container .drop-down-spacer {
    width: 6%;
    display: inline-block;
}

.drop-down-container ul {
    border: 1px solid #999;
    border-top: none;
    text-align: left;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100000;
    display: none;
    background-color: #eee;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    max-height: 60vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.drop-down-container.expanded ul {
    display: block;
}

.drop-down-container ul li {
    padding: 0.2em 0.5em;
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.drop-down-container ul li .li-label {
    flex: 1;
    max-width: 100%;
}

.drop-down-container ul li .li-label > div, .drop-down-container ul li .li-label > div > p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drop-down-container ul li:hover {
    background-color: #E9E3DD;
}

.drop-down-container ul li .alert {
    display: none;
}

.drop-down-container.expanded ul li.latest .alert {
    display: inline-block;
}

.drop-down-container ul li.latest {
    color: goldenrod;
    font-style: italic;
}

.drop-down-container ul li.selected {
    background-color: #E9E3DD;
}

.drop-down-container ul li.unread {
    font-weight: bold;
}

/* ======== COMMENTS / AUTHOR'S NOTE SECTION ======== */

#comments-box, #authors-note {
    border-radius: 0.4em;
    margin: 15px 0.5em;
    background: rgba(38, 30, 53, 0.8);
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(200,200,200,0.2);
    max-width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

#comments-box {
    flex: 3;
    min-width: 300px;
}

#authors-note {
    flex: 1;
    min-width: 200px;
    color: #ddd;
}

h2.fancy-heading {
    color: white;
    font-family: Tangerine;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    margin: 0.5em 0;
}

h2.fancy-heading.no-bottom-margin {
    margin-bottom: 0;
}

.byline {
    font-style: italic;
    text-align: center;
}

.authors-note-text {
    margin-top: 1em;
    /*text-indent: 2em;*/
    text-align: justify;
    line-height: 1.4em;
}

.authors-note-text p {
    margin-bottom: 1.4em;
}

a { color: #CE9046; text-decoration: none; }

a:hover { text-decoration: underline; }

section.comments span.highlight-color {
    color: #CE9046;
}

/* ======== FOOTER ======== */

footer {
    background: black;
    box-sizing: border-box;
    padding: 2em 0 0.2em 0;
}

footer .footer-link-block {
    display: flex;
    flex-flow: row wrap;
}

footer ul { list-style: none; }

footer h2.fancy-heading {
    margin: 0;
    font-size: 36px;
}

footer .link-section .follow-share {
    text-align: left;
}

footer .link-section .follow-share > div {
    margin: 0.2em auto;
}

footer .link-section {
    flex: 1;
    text-align: center;
    margin: 1em 0.5em;
    min-width: 200px;
}

.copy {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 1em;
    display: block;
}

/* ======== MISC ======== */

.hidden { visibility: hidden; }

.no-display { display: none!important; }
