@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Mirza);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* ======== GENERAL ======== */

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    background: url('http://www.freevectors.net/files/large/DarkPattern.jpg');
    background-attachment: fixed;
}

body > div, body > div > div {
    height: 100%;
}

div#fb-root {
    display: none;
}

div#error-popup {
    position: fixed;
    right: 1em; top: 1em;
    width: 20%;
    height: 0px;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #E5B249;
    border-radius: 0.4em;
    z-index: 10000000;
    color: white;
    padding: 1em;
    font-family: 'Open Sans Condensed', Helvetica;
    min-width: 300px;
    height: auto;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1px;
    display: none;
}

div#error-popup p {
    margin: 1em 0;
}

div#error-popup p:last-child {
    margin: 1em 0 0 0;
}

div#error-popup p.email {
    text-align: center;
}

div#error-popup p.close {
    text-align: right;
}

/* ======== PAGE SECTIONS ======== */

section {
    min-height: 100%;
}

section.reader {
    background: url("/static/assets/img/wood-bg-11.png");
    background-size: cover;
    background-position: center top;
    box-shadow: 0px 20px 1em rgba(0,0,0,0.8);
}

section.comments {
    display: flex;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center top;
    flex-flow: row wrap;
}

/* ======== READER SECTION ======== */

/* ---- Banner ---- */

.banner {
    height: 15vh;
    width: 70.5vh;
    max-width: 100%;
    margin: 0 auto;
}

.banner-logo {
    background-image: url("/static/assets/img/MMPLogoFinal.png");
    background-size: 100% 100%;
    height: 100%;
    max-width: 100%;
}

/* ---- Loader Overlay ---- */

.book .loader {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-size: 100% 100%;
    display: none;
    z-index: 100;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.book .book-back {
    z-index: 1;
    position: absolute;
    background-image: url('/static/assets/img/book-back.png'); /*INSIDE*/
    background-size: 100% 100%;
    top: 0; bottom: 0; left: 0; right: 0;
}

.book .loader.cover {
    background-image: url('/static/assets/img/book-new-5.png');
    z-index: 101;
    cursor: pointer;
}


.book .loader.cover .glow {
    position: absolute;
    top: 0;
    left: 6%;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle, rgba(203,128,14,0.25), rgba(203,128,14,0.4) 23%, rgba(0,0,0,0.4) 58%);
    opacity: 0.5;
    animation-name: glow-fade;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes glow-fade {
  0%   { opacity: 0.93; }
  20%  { opacity: 1; }
  21%  { opacity: 0.9; }
  22%  { opacity: 1; }
  23%  { opacity: 0.93; }
  24%  { opacity: 1; }
  30%  { opacity: 0.93; }
  34%  { opacity: 1; }
  50%  { opacity: 1; }
  51%  { opacity: 0.9; }
  52%  { opacity: 1; }
  53%  { opacity: 0.93; }
  54%  { opacity: 1; }
  70%  { opacity: 1; }
  71%  { opacity: 0.93; }
  72%  { opacity: 1; }
  73%  { opacity: 0.93; }
  74%  { opacity: 1; }
  90%  { opacity: 1; }
  91%  { opacity: 0.93; }
  92%  { opacity: 1; }
  93%  { opacity: 0.93; }
  94%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes fadeInFrom {
    0%   { opacity: 0.7; }
    100% { opacity: 1; }
}

.book .loader.cover .glow:hover {
    opacity: 0.7;
    animation: fadeInFrom 0.2s linear forwards;
    background-image: radial-gradient(circle, rgba(203,128,14,0.35), rgba(203,128,14,0.45) 23%, rgba(0,0,0,0.55) 58%);
}

/*.book .loader.cover:hover div {
    color: #EAC694;
}*/

/*.book .loader.cover div {
    position: absolute;
    bottom: 6%;
    right: 8%;
    color: #E5B249;
    font-size: 40px;
    font-weight: normal;
    font-family: Tangerine;
}*/




.book .loader.cover .glow .cover-txt {
    color: #DCA234;
    font-size: 8vh;
    font-family: 'Tangerine', cursive;
    font-weight: normal;
    margin: 0 1em;
    position: absolute;
    bottom: 70%; left: 0; right: 6%;
    text-align: center;
    white-space: nowrap;
    text-shadow: 2px 2px #000;
}

.book .loader.cover .glow:hover .cover-txt {
}

.book .loader.isDisplayed {
    display: flex;
}

.book .loader .loading-label {
    text-align: center;
}

/* ---- Book Display ---- */

.book {
    height: 80vh;
    width: 68.5vh;
    min-height: 256px;
    min-width: 200px;
    max-width: 100%;
    margin: 1vh auto 0 auto;
    background-size: 100% 100%;
    position: relative;
}

.book .drop-shadow {
    position: absolute;
    border-radius: 4px;
    background: rgba(0,0,0,0.7);
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 3px 0px 18px 12px rgba(0,0,0,0.7);
}

.book .book-inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2%; bottom: 2%; left: 12%; right: 12%;
}

.book .book-inner .top-bar {
    padding: 22px 0 0 0;
    text-align: center;
}

.book .book-inner iframe {
    flex: 1;
    border: none;
    width: 100%;
}

.book .book-inner .bottom-bar {
    text-align: center;
    display: flex;
    /*padding-bottom: 1em;*/
    /*padding-top: 0.5em;*/
}

.book .book-inner .bottom-bar > div {
    flex: 1;
}

.book .book-arrow {
    font-size: 35px;
    color: #444;
    display: flex;
    align-items: center;
}

.book .book-arrow.btn-disabled {
    color: #888;
    cursor: default;
}

.book .book-arrow .last-page-txt {
    display: none;
    text-align: right;
    font-size: 16px;
}

.book .book-arrow.btn-disabled:hover .last-page-txt {
    display: block;
}

.book .book-arrow.btn-disabled:hover i {
    display: none;
}

.book .book-arrow.btn-disabled:hover {
    cursor: default;
}

.book .book-arrow:hover {
    cursor: pointer;
    font-size: 38px;
}

.book .page-num {
    font-family: 'Mirza', cursive;
    height: 60px;
    font-size: 20px;
    line-height: 70px;
    color: #444;
}



.forward-btn * {
    margin-left: auto;
}

/* ---- Book Display > Dropdown Menu ---- */

.drop-down-container {
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

.drop-down-container.expanded {
    min-width: 70%;
}

.drop-down-container .selected-label {
    text-align: center;
    overflow: hidden;
    display: flex;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,0);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    padding: 0.5em 1em 0 1em;
    font-size: 18px;
    font-family: Mirza;
    color: #444;
}

.drop-down-container.expanded .selected-label {
    color: black;
}

.drop-down-container.expanded .selected-label {
    background-color: #eee;
    border: 1px solid #999;
    border-bottom-style: dashed;
}

.drop-down-container .selected-label:hover {
    box-shadow: 0px 0px 2px #999;
    color: black;
}

.drop-down-container .selected-label .label-text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.drop-down-container .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-top: 5px;
    margin-left: 0.3em;
    border-top: 5px solid #444;
    vertical-align: bottom;
}

.drop-down-container:hover .arrow-down {
    border-top: 5px solid #000;
}

.drop-down-container.expanded .arrow-down {
    display: none;
}


.drop-down-container .drop-down-spacer {
    width: 6%;
    display: inline-block;
}

.drop-down-container ul {
    border: 1px solid #999;
    border-top: none;
    text-align: left;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100000;
    display: none;
    background-color: #eee;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    max-height: 60vh;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed';
    font-size: 17px;
    color: #000;
}

.drop-down-container.expanded ul {
    display: block;
}

.drop-down-container ul li {
    padding: 0.2em 0.5em;
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.drop-down-container ul li .li-label {
    flex: 1;
    max-width: 100%;
}

.drop-down-container ul li .li-label > div, .drop-down-container ul li .li-label > div > p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drop-down-container ul li:hover {
    background-color: #E5B249;
    /*color: #E5B249;*/
}

.drop-down-container ul li .alert {
    display: none;
    background-color: #E5B249;
    /*color: #E5B249;*/
    border-radius: 0.4em;
    padding: 0.12em 0.4em;
}

.drop-down-container.expanded ul li.latest .alert {
    display: inline-block;
}

.drop-down-container ul li.latest .li-label {
    /*font-style: italic;*/
    padding: 0.12em 0;
}

.drop-down-container ul li.selected {
    background-color: #e0bd76;
    /*color: #E5B249;*/
}

.drop-down-container ul li.unread {
    font-weight: bold;
}

/* ======== COMMENTS / AUTHOR'S NOTE SECTION ======== */

#comments-box, #authors-note {
    border-radius: 0.4em;
    margin: 15px 0.5em;
    background: rgba(38, 30, 53, 0.8);
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(200,200,200,0.2);
    max-width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

#comments-box {
    flex: 3;
    min-width: 300px;
}

#authors-note {
    flex: 1;
    min-width: 200px;
    color: #ddd;
}

h2.fancy-heading {
    color: white;
    font-family: Tangerine;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    margin: 0.5em 0;
}

h2.fancy-heading.no-bottom-margin {
    margin-bottom: 0;
}

.byline {
    font-style: italic;
    text-align: center;
}

.authors-note-text {
    margin-top: 1em;
    /*text-indent: 2em;*/
    text-align: justify;
    line-height: 1.4em;
}

.authors-note-text p {
    margin-bottom: 1.4em;
}

a { color: #E5B249; text-decoration: none; }

a:hover { text-decoration: underline; }

section.comments span.highlight-color {
    color: #E5B249;
}

/* ======== FOOTER ======== */

footer {
    background: black;
    box-sizing: border-box;
    padding: 2em 0 0.2em 0;
    font: 14px Helvetica, Arial, sans-serif;
}

footer .footer-link-block {
    display: flex;
    flex-flow: row wrap;
}

footer ul { list-style: none; }

footer h2.fancy-heading {
    margin: 0 0 0.2em 0;
    font-size: 36px;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0px 0.2em;
}

footer li:first-child {
    margin-top: 0px;
}

footer li {
    cursor: pointer;
    margin: 0.5em 0;
}

footer li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

footer img[src="/static/assets/img/ello-icon.jpg"] {
    box-sizing: border-box;
    padding: 2px;
    background-color: white;
}

footer input {
    margin-top: 0.4em;
    border-radius: 0.2em;
    padding: 0.4em;
    border: none;
    text-align: center;
}

footer .link-section {
    flex: 1;
    text-align: center;
    margin: 1em 0.5em;
    min-width: 200px;
}

footer .share-btn {
    display: block;
    margin: 0.5em auto;
}

.copy {
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 1em;
    display: block;
}

/* ======== MAILCHIMP ======== */

#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 250px;

}

#mc_embed_signup input.email {
    flex: 2;
    min-width: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#mc_embed_signup .clear {
    flex: 1;
}

#mc_embed_signup .button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    padding: 0;
}

/* ======== Share Buttons ======== */

.share-btn {
    position: relative;
    z-index: 0;
    background-color: grey;
    overflow: hidden;
    font: 12px Helvetica, Arial, sans-serif;
    text-align: center;
    height: 20px;
    display: inline-block;
    border-radius: 0.25em;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    min-width: 75px;
    max-width: 75px;
}

.share-btn img {
    height: 20px;
    width: 20px;
    margin: 0;
    min-height: 100%;
    vertical-align: middle;
    float: left;
}

.share-btn span {
    vertical-align: middle;
    margin: 0 0.6em 0 0.4em;
    height: 100%;
    line-height: 20px;
}

.share-btn .hover-overlay {
    position: absolute;
    background: rgba(255,255,255,0.1);
    top: 0; left: 0; right: 0; bottom: 0;
    display: none;
}

.share-btn:hover .hover-overlay {
    display: block;
}

/* ---- Custom Share Buttons ---- */

.share-btn.facebook-share-btn {
    background-image: linear-gradient(to bottom, rgba(74, 104, 183,1), rgba(59,86,161,1));
}

.share-btn.twitter-share-btn {
    background-image: linear-gradient(to bottom, #FEFEFE, #E1E1E1);
    color: #333;
    text-shadow: none;
}

.share-btn.twitter-share-btn .hover-overlay { background: rgba(255,255,255,0.3); }

.share-btn.tumblr-share-btn {
    background-image: linear-gradient(to bottom, #36465D, #36465D);
}

.share-btn.gplus-share-btn {
    background-image: linear-gradient(to bottom, #bf483b, #C43B2B);
}

.share-btn.reddit-share-btn img {
    width: 100%;
}

.share-btn.reddit-share-btn .hover-overlay {
    background: rgba(255,255,255,0.3);
}

/* ======== SHARE DIALOG ======== */

.modal.share-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-dialog {
    flex: 1;
    max-width: 500px;
    padding: 1em;
    border-radius: 0.4em;
    color: white;
    position: relative;
    z-index: 1501;
    cursor: text;
    font: 18px Helvetica, Arial, sans-serif;
    overflow: auto;
    max-height: 100%;
}

.share-dialog h2.fancy-heading {

}

.share-dialog .url-container input {
    width: 100%;
    border-radius: 0.4em;
    border: none;
    font-size: 24px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    text-align: center;
}

.share-dialog .url-container {
    margin-bottom: 1em;
}

.share-dialog span {

}

.share-dialog input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin: 0.4em 1em 0 0;
    margin-left: 3em;
    float: left;
    cursor: pointer;
}

.share-dialog .share-section-title {
    font-size: 15px;
    font-style: italic;
    color: #E5B249;
}

.share-dialog .social-media-buttons {
    margin-top: 2em;
    padding-top: 1em;
    text-align: center;
    border-top: 1px solid #ccc;
}

.share-dialog .social-media-buttons > div {
    margin: 0.5em 1em;
}

.share-dialog-container .overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 1500;
    background-color: rgba(0,0,0,0.9);
}

.share-dialog .close {
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 100000;
}

.share-dialog .close:hover {
    transform: scale(1.2);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* ======= CREDITS ====== */

.modal.credits-overlay {
    background-color: black;
    animation: fadein 2s forwards;
}

.credits-container {
    font: 300 30px/1 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #fff;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.full-spacer {
    height: 100%;
}

.end-block {
    height: 100%;
    display: flex;
    align-items: center;
}

.movie {
  margin-bottom: 50px;
  font-size: 50px;
}

.job {
  margin-top: 50px;
  font-family: 'Tangerine', cursive;
  margin-bottom: 5px;
  font-size: 48px;
}

.name {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
}

.end-credits-btn {
    position: fixed;
    z-index: 10000000000000001;
    top: 5px; right: 5px;
    border: 1px solid white;
    border-radius: 0.2em;
    color: white;
    font-size: 25px;
    padding: 0.5em;
    cursor: pointer;
}

.end-credits-btn:hover {
    color: #E5B249;
    border-color: #E5B249;
}

/* ===== CONTACT ME ===== */

.contact-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-modal-text {
    flex: 1;
    color: #ddd;
    max-width: 500px;
    padding: 1em;
    cursor: text;
    font: 18px 'Open Sans Condensed',Helvetica, Arial,sans-serif;
    overflow: auto;
    max-height: 100%;
    position: relative;
}

.contact-modal-text p {
    margin: 1.5em 0;
    text-align: center;
}

.contact-modal-text p.email {
    font-size: 20px;
}

.contact-modal-text strong {
    font-size: 19px;
    color: white;
}


/* ======== MODAL ======= */

.modal {
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10000000000000000;
    overflow: hidden;
    opacity: 0;
    animation: fadein 0.4s forwards;
}

.modal.fading {
    animation: fadeout 0.4s forwards;
}

.modal .close-x {
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.modal .close-x:hover {
    transform: scale(1.2);
}

/* ======== MISC ======== */

.hidden { visibility: hidden; }

.no-display { display: none!important; }

.no-scroll {
    overflow: hidden!important;
}
