@import url('https://themes.googleusercontent.com/fonts/css?kit=DK0eTGXiZjN6yA8zAEyM2SVkQO_ZoUPt0J8fZBpZT2lCvtIcW5rEur_QDHERxgXU');

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    color: #333;
    border-color: #333;
    background-image: url('background.jpg');
    display: flex;
    flex-direction: column;
}

div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#scroll-container {
    overflow: auto;
}

.top-bar, .top-bar div, .container div {
    height: auto;
    display: block;
}

.top-bar-spacer {
    height: 75px;
    background-color: white;
    margin: 0 auto;
    width: 1000px;
}

.container {
    width: 1000px;
    background-color: white;
    margin: 0 auto;
    flex-grow: 1;
    padding-top: 6em;
    height: auto;
}

.reorderable-entry {
    position: relative;
    min-height: 100px;

    border-bottom: 1px solid #ccc;
    margin: 1.5em 0;
    padding-bottom: 1.5em;
    padding-right: 1em;
}

.reorderable-controls {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 100;
    height: 100%;
    text-align: center;
}

.reorderable-controls i {
    display: block;
    font-size: 25px;
    margin: 30% 0;
    cursor: pointer;
    color: #009688;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.reorderable-controls i:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

button {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 2px solid #009688;
    border-radius: 0.2em;
    color: white;
    background: #00b5a2;
    font-size: 18px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    box-shadow: 0 5px 9px rgba(0,0,0,0.2);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

button:active {
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transform: scale(1);
    -webkit-transform: scale(1);
}

.top-bar {
    padding: 1em;
    max-height: 75px;
    background: #009688;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar h2 {
    margin: 0;
    padding: 0;
    color: white;
    display: inline-block;
    font-weight: normal;
    font-size: 35px;
    word-spacing: 0.1em;
    letter-spacing: 1px;
    font-family: calibri, helvetica, arial, sans-serif;
    text-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.chapter-editor-container h1 {
    padding-top: 10pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 0pt;
    font-family: "Droid Serif";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

.top-bar .chapter-editor-heading .id {
    color: #ccc;
    font-style: italic;
    display: inline-block;
    margin-right: 1em;
    font-size: 25px;
}

.top-bar .left {
    float: left;
    margin-left: 1em;
}

.top-bar .right {
    float: right;
    margin-right: 2em;
}

.top-bar button {
    margin: 0 0.5em;
    color: #eee;
    border-color: #eee;
    background-color: rgba(255,255,255,0.1);
}

.top-bar button:hover {
    color: white;
    border-color: white;
}

.chapter-list-editor .chapter-list-container {
    width: 900px;
    margin: 0 auto;
}

.chapter-container {
    padding: 0.5em 2.5em 0.5em 0.5em;
}

.chapter-container .id {
    color: #bbb;
    font-style: italic;
    display: inline-block;
    margin-right: 1em;
    font-size: 20px;
}

.chapter-container .title {
    display: inline-block;
    font-size: 30px;
}

.chapter-container button {
    float: right;
}

.chapter-container .date {
    margin-top: 2em;
}

.clear {
    clear: both;
}

.chapter-editor-container {
    padding: 1%;
}

.chapter-editor-container .id {
    color: #bbb;
    font-style: italic;
    display: inline-block;
    margin-right: 1em;
    font-size: 20px;
}

.chapter-editor-container .title {
    display: inline-block;
    font-size: 30px;
}

.chapter-editor-container .three-pane, .chapter-editor-container .two-pane {
    /*text-align: center;*/
    margin: 0 auto 1em auto;
}

.chapter-editor-container .two-pane .pane {
    width: 45%;
    margin: 0em 2.5%;
    display: inline-block;
    vertical-align: top;
}

.chapter-editor-container .three-pane .pane {
    width: 30%;
    margin: 0em 1.5%;
    display: inline-block;
    vertical-align: top;
    /*background-color: white;*/
    /*border: 1px solid red;*/
}

.chapter-editor-container h2 {

    margin: 1em 0 0 0;
    padding: 0;
}

.chapter-editor-container .pane .scroll-pane {
    height: 199px;

    border-top: 1px solid #ccc;
    /*border-radius: 0.2em;*/
    overflow: auto;
}

.chapter-editor-container .pane .scroll-pane.tall {
    height: 450px;
}

textarea.chapter-text-entry {
    height: 500px;
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 0.2em;
}

.chapter-editor-container .date {
    color: #bbb;
    font-style: italic;
    position: absolute;
    top: 0.1em;
    right: 1em;
}

input {
    padding: 0.5em 1em;
    border-radius: 0.2em;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-bottom: 1em;
}

input.valid {
    border: 3px solid green;
}

input.invalid {
    border: 3px solid red;
}

.result-msg {
    display: inline-block;

}

.authors-note-editor textarea {
    width: 100%;
    height: 100px;
}

.authors-note-editor .preview {
    margin-top: 0.5em;
    /*background-color: #ccc;*/
    color: black;
    border-radius: 0.2em;
    padding: 0 1em;
    max-height: 150px;
    overflow: auto;
}

.chapter-meta-editor {
    background: rgba(255,255,255,0.1);
    padding-bottom: 1em;
}

.entry-meta-data-editor-list {
    width: 95%;
    margin: 1em auto 0 auto;
}

.entry-meta-data-editor-list .entry-editor {
    border-left: 5px solid rgba(0, 150, 136, 1);
    margin: 1em 0;
    padding: 0.5em 1em;
    /*background-color: rgba(0, 150, 136, 0.1);*/
    background-color: rgba(100,100,100, 0.1);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

h2.editor-heading {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.chapter-editor-container .pane .scroll-pane.content {
    height: 260px;
}

.container div.sub-entry-container {
    height: 250px;
    overflow: hidden;
    padding-right: 1em;
}

.sub-entry-container .preview {
    max-height: 180px;
    overflow: auto;
    margin-top: 1em;
}

.chapter-editor-container .reorderable-entry {
    height: 250px;
}
